<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" type="text/css" href="mystyle.css">

    <!--나의의 CSS 링크-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>
        $(document).ready(function () {
            get_posts()
        })

        function sign_out() {
            $.removeCookie('token', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

    </script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
</head>
}
</style>


<!--//////////////////////////////////////////////////////////////////////////////////////////-->


<body>
<section class="hero is-primary is-medium titlemargin">
    <!-- 로그아웃 div -->
    <span class="navbar-item">
                                            <a class="button is-primary is-inverted" onclick="sign_out()">
                                                <span>로그아웃</span>
                                            </a>
                                        </span>

    <!-- 타이틀 div -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                NETOON
            </p>
            <p class="subtitle">
                네가 보는 웹툰
            </p>
        </div>
    </div>
</section>

<!--인풋 div-->
<div class="inputmodal">
    <!--텍스트에리어(클릭시 모달)-->
    <article class="media">
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <input id="input-post" class="input is-rounded is-success is-medium commentplus"
                           placeholder="웹툰의 의견을 남겨주세요"
                           onclick='$("#modal-post").addClass("is-active")'></p>
            </div>
        </div>
    </article>
    <div class="modal" id="modal-post">
        <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
        <div class="modal-content">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <!--(모달) 만화선택칸-->
                        <div class="select is-rounded choicetoon">
                            <select id="option_toon">
                                {% for toon_list in toon_lsts %}
                                    {#'title' = 웹툰 제목#}
                                    <option>{{ toon_list['title'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!--(모달)코멘트 입력칸-->
                        <div class="field">
                            <p class="control">
                                                <textarea id="textarea-post" class="textarea is-medium"
                                                          placeholder="웹툰의 의견을 남겨주세요"></textarea>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <!--(모달) Save & Cancel 우측정렬-->
                            <div class="level-left"></div>
                            <!--(모달) Save & Cancel-->
                            <div class="level-right">
                                <div class="level-item posting_start">
                                    <a class="button is-success" onclick="addcard()">포스팅하기</a>
                                </div>
                                <div class="level-item">
                                    <a class="button is-sparta is-outlined"
                                       onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"
                onclick='$("#modal-post").removeClass("is-active")'></button>
    </div>
</div>


<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

<!--랭킹테이블-->
<table class="table">
    <!--랭킹케이블 분류-->
    <thead>
    <tr>
        <th><abbr title="Position">순위</abbr></th>
        <th><abbr title="Played">이름</abbr></th>
        <th><abbr title="Drawn">코멘트수</abbr></th>
    </tr>
    </thead>


    <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <!--카드 컬럼스-->
    <div class="card-columns" id="post-box">
        <!--만화 코멘트 카드-->
        <div class="card">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <!--(카드) 웹툰 대표 이미지-->
                        <figure class="image is-64x64">
                            <img src="{{ toon_img_url }}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <!--(카드) 웹툰 정보-->
                        <div class="content">
                            <p>
                                <strong>{{ toon_name }}</strong> <small>{{ tonn_writer }}</small>
                                <br>
                                {{ toon_synopsis }}
                            </p>
                        </div>
                    </div>
                </article>
                <!--카드 수정 및 삭제 구간-->
                <footer class="card-footer card_del">
                    {#                                <a href="#" onclick='$("#modal-edit").addClass("is-active")'> class="card-footer-item has-text-info">#}
                    {#                                    수정#}
                    {#                                    <span class="icon">#}
                    {#                                          <i class="fas fa-thumbs-up"></i>#}
                    {#                                    </span>#}
                    {#                                </a>#}
                    <a href="#" onclick='$("#modal-edit").addClass("is-active")'>
                        class="card-footer-item has-text-info">
                        수정
                        <span class="icon">
                                              <i class="fas fa-thumbs-up"></i>
                                        </span>
                    </a>
                    <a href="#" onclick="deleteStar('{{ user_id }}')" class="card-footer-item has-text-danger">
                        삭제
                        <span class="icon">
                                          <i class="fas fa-ban"></i>
                                    </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>

</body>

</html>






